/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


h1, h2, h3, h4, h5 {
  color: #00274c;   /* UM blue*/
}


#TOC{
  font-size: 125%;
  color: white;
}

.table {
  margin: 0 auto;
}


.tocify ul, .tocify li {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    line-height: 30px;
    background-color: #00274c;
}

.navbar {
  font-family: Roboto;
  font-size: 125%;
  background-color: #00274c;
}

.navbar-default .navbar-nav>li>a {
  color: #ffcb05;
  font-size: 125%;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #ffffff;
  font-size: 125%;
}

.navbar-default .navbar-brand {
  color: #ffcb05;
  font-size: 150%;
}


li.tocify-item.list-group-item.active {
  background-color: #ffcb05;             /* background of current section in toc */
}

body, p {
  font-family: Roboto;
  font-size: 125%;
  color: #595959; 
  background-color: #fffff8; 
}

a {
  color: #00aaff;
}